@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* link css */

.link {
    text-decoration: none;
    margin-right: 1rem;
    color: #17202a;
}

.active {
    font-weight: 600;
    color: #2c3e50;
}

/* header section */

#signout {
    border: none;
    background: none;
    color: #17202a;
    font-weight: 600;
}

/* #signout:hover {
    color: #0a58ca;
} */

/* banner section */

#banner {
    height: 100vh;
    background: url("https://img.freepik.com/free-photo/huge-group-fresh-vegetables-fruits_135427-2731.jpg?w=1380");
    background-size: cover;
    background-position: center;
}

/* inventory items section */

.item {
    border-radius: 15px;
    transition: all 0.5s;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

.update-btn {
    width: 80%;
    border-radius: 8.5px;
}

/* mid banner section */

#mid-banner {
    height: 70vh;
    background: url("https://img.freepik.com/free-photo/frame-made-fresh-fruits-berries_88281-5416.jpg?w=996");
    background-size: cover;
    background-position: center;
}

/* get in touch section */

#get-touch {
    height: 30vh;
    background: url("https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?w=1060&t=st=1652124813~exp=1652125413~hmac=860a52439b6f2e1d25d3e81788b65b819e15e600e3c541190329e1c9cf312000");
    background-size: cover;
    background-position: center;
}

#get-touch input,
#get-touch button {
    border: none;
    outline: none;
    padding: 0.5rem;
}

#get-touch input {
    width: 30%;
}

#get-touch button {
    background: #de3163;
}

/* form section */

.form-section {
    height: 100vh;
}

.form {
    width: 450px;
    border-radius: 15px;
}

.form button {
    border-radius: 10px;
}

/* google auth */

.with-google {
    border-radius: 15px;
    cursor: pointer;
}

/* form section responsive */

@media only screen and (max-width: 470px) {
    .form {
        width: 90%;
    }
}
