@import url("https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap");

body {
    font-family: "REM", sans-serif;
    position: relative;
}

/* link css */

.link {
    text-decoration: none;
    margin-right: 1rem;
    color: #17202a;
}

.active {
    font-weight: 600;
    color: #2c3e50;
}

/* header section */

#signout {
    border: none;
    background: none;
    color: #17202a;
}

/* #signout:hover {
    color: #0a58ca;
} */

/* banner section */

#banner {
    height: 100vh;
    background: url("https://img.freepik.com/free-photo/huge-group-fresh-vegetables-fruits_135427-2731.jpg?w=1380");
    background-size: cover;
    background-position: center;
}

/* inventory items section */

.item {
    border-radius: 15px;
    transition: all 0.5s;
    overflow: hidden;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.update-btn {
    width: 80%;
    border-radius: 8.5px;
}

/* mid banner section */

#mid-banner {
    height: 70vh;
    background: url("https://img.freepik.com/free-photo/frame-made-fresh-fruits-berries_88281-5416.jpg?w=996");
    background-size: cover;
    background-position: center;
}

/* get in touch section */

#get-touch {
    height: 30vh;
    background: url("https://images.pexels.com/photos/66869/green-leaf-natural-wallpaper-royalty-free-66869.jpeg");
    background-size: cover;
    background-position: center;
}

#get-touch input,
#get-touch button {
    border: none;
    outline: none;
    padding: 0.5rem;
}

#get-touch input {
    width: 30%;
}

#get-touch button {
    background: #de3163;
}

/* form section */

.form-section {
    height: 100vh;
}

.form {
    width: 450px;
    border-radius: 15px;
}

.form button {
    border-radius: 10px;
}

/* google auth */

.with-google {
    border-radius: 15px;
    cursor: pointer;
}

/* loading component */

.loading {
    height: 100vh;
    position: absolute;
    inset: 0;
}

/* detail item section */

.detail-section {
    margin: 5rem 0;
}

.detail-section > div {
    overflow: hidden;
    border-radius: 15px;
}

.detail-section > div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* border-radius: 10px; */
}

/* detail item section responsive */

@media only screen and (max-width: 625px) {
    .detail-section > div {
        flex-direction: column;
    }

    .detail-section > div > div {
        margin-top: 1rem;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 370px) {
    .detail-section > div {
        margin: 0 1rem;
    }

    .detail-section > div img {
        width: 100%;
    }
}

/* form section responsive */

@media only screen and (max-width: 470px) {
    .form {
        width: 90%;
    }
}
