@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* link css */

.link {
    text-decoration: none;
    margin-right: 1rem;
    color: #17202a;
}

.active {
    font-weight: 600;
    color: #2c3e50;
}
